html
  head
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet' href='./app.css')
    meta(charset='utf-8')
    title NCKU遊戲設計實務工作坊
  body
    #v-app
    script(src='./main.js')
